// Monserrat link
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:ital,wght@0,400;1,300&display=swap');

// initialisation de font-face
@font-face {
    font-family: farfromhome;
    src: url(../Font/FarFromHomecoming.woff2) format(woff2);
    font-style: normal;
    font-weight: 100;
}

*, *::before, *::after{
    
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    text-align: justify;
    text-justify: newspaper;
    color: var(--clr-white);

    

}
a{
    text-decoration: none;
}
// font-weight values
    // regular 400
    // medium 500
    // semi-bold 600
    //  bold 700

h2 {
    font-weight: 700;
}
h3 {
    font-weight: 600;
}
.sub-title{
    font-weight: 500;
}
h1{
    font-family: 'farfromhome';
}
.spacing{
    padding-left: 10%;
}

:root{
    --clr-red:#B11313;
    --clr-yellow:#F1C530;
    --clr-blue:#114C92;
    --clr-black:#000000;
    --clr-white:#FFFFFF;
}
body{
    header{
        
        
        nav{
            
            padding-right: 10%;
            background-color:var(--clr-red);
            display: grid;
            grid-template-columns: .5fr 1fr;
            .brand{
                padding: 10px 0 10px 0;
                img{
                    padding: 0 20px 0 5px;
                    &:nth-child(2){
                        margin-bottom: 10px;
                    }
                }
                
            }
            .nav-menu{
                text-align: center;
                display: grid;
                grid-template-columns: repeat(5,20%);
                list-style-type: none;
                li{
                    padding-top:30px;
                    a{
                        color: #FFFFFF;
                        &:hover{
                            font-size: 20px;
                        }
                    }
                }
            }

            
        }
        .explore{
            background-image: url(../Illustration/img1.png);
            background-repeat: no-repeat;
            background-size: 100%;
            padding-top: 20%;
            background-color: #B11313;
            #spiderman{
                text-transform: uppercase;
                margin-bottom: 100px;
            }
            h2{
                margin: 10% 0 10% ;
            }
            .btn{
                font-weight: 600;
                width: 200px;
                border-radius: 1rem;
                
                
            }
            .voir1{
                color: var(--clr-red);
                background-color: var(--clr-white);
                border: none;
                margin-right: 40px;
                &:hover{
                    background:none;
                    color: var(--clr-white);
                    border: 1px solid var(--clr-white);

                }

            }
            .voir2{
                color: var(--clr-white);
                border-color: var(--clr-white);
                &:hover{
                    background-color: var(--clr-white);
                    color: var(--clr-red);
                }
            }
            .spidermen{
                padding-top: 100px;
                padding-bottom: 100px;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                    
                    .card{
                        background:none;
                    }

                
            }
        }
    }
    
    footer{
        background-color: var(--clr-black);
        padding-top:100px;
        
        .about{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            .aboutUs{
                list-style-type: none;
                text-align: center;
                display: grid;
                grid-template-columns: 100px 300px 150px 300px repeat(2, 100px);
                li a{
                    
                    color: var(--clr-white);
                    &:hover{
                        transform: translateY(10px);
                    }
                    .footer-brand{
                        margin-top: -15px;
                    }
                }


            }
            #choixDeLangue{
                margin-left: 20%;
                width: 200px;
                background-color: var(--clr-red);
                border: none;
                border-radius: 1rem;
                padding: 0 0 0 10px;
                margin-bottom: 15px;
            }
        }
        .contact{
            margin-top: 50px;
            text-align: center;
            a{
                img{
                    background-color: var(--clr-red);
                    margin: 10px;
                    padding: 5px;
                    border-radius: 50%;
                }
            }

        }
        .copyright{
            color: var(--clr-white);
            margin-top: 50px;
            padding-bottom: 30px;
            text-align: center;
        }
    }
}