@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:ital,wght@0,400;1,300&display=swap");
@font-face {
  font-family: farfromhome;
  src: url(../Font/FFH.otf);
  font-style: normal;
  font-weight: 100;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat';
  text-align: justify;
  text-justify: newspaper;
  color: var(--clr-white);
}

a {
  text-decoration: none;
}

h2 {
  font-weight: 700;
}

h3 {
  font-weight: 600;
}

.sub-title {
  font-weight: 500;
}

h1 {
  font-family: 'farfromhome';
}

.spacing {
  padding-left: 10%;
}

:root {
  --clr-red:#B11313;
  --clr-yellow:#F1C530;
  --clr-blue:#114C92;
  --clr-black:#000000;
  --clr-white:#FFFFFF;
}

body header nav {
  background-color: var(--clr-red);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding-right: 10%;
}

body header nav .brand a {
  padding: 10px 0 10px 0;
  margin: auto;
}

body header nav .brand a img {
  padding: 0 5px 0 5px;
}

body header nav .brand a img:nth-child(2) {
  margin-bottom: 10px;
}

body header nav .nav-dropdown .nav-menu {
  text-align: center;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  list-style-type: none;
}

body header nav .nav-dropdown .nav-menu li {
  padding-top: 30px;
}

body header nav .nav-dropdown .nav-menu li a {
  color: #FFFFFF;
}

body header nav .nav-dropdown .nav-menu li:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

body header .explore {
  background-image: url(../Illustration/img1.png);
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 20%;
  background-color: var(--clr-red);
}

body header .explore #spiderman {
  margin-bottom: 100px;
}

body header .explore #spiderman h1 {
  text-transform: uppercase;
}

body header .explore h2 {
  margin: 10% 0 10%;
}

body header .explore .btn {
  font-weight: 600;
  width: 200px;
  border-radius: 1rem;
}

body header .explore .voir1 {
  color: var(--clr-red);
  background-color: var(--clr-white);
  border: none;
  margin-right: 40px;
}

body header .explore .voir1:hover {
  background: none;
  color: var(--clr-white);
  border: 1px solid var(--clr-white);
}

body header .explore .voir2 {
  color: var(--clr-white);
  border-color: var(--clr-white);
}

body header .explore .voir2:hover {
  background-color: var(--clr-white);
  color: var(--clr-red);
}

body header .explore .spidermen {
  padding-top: 100px;
  padding-bottom: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

body header .explore .spidermen .card {
  background: none;
}

body footer {
  background-color: var(--clr-black);
  padding-top: 20px;
}

body footer .spideyTheme {
  background-color: var(--clr-black);
  margin-bottom: 50px;
  text-align: center;
}

body footer .spideyTheme audio {
  height: 30px;
}

body footer .about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
}

body footer .about .aboutUs {
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px 250px 100px 300px (100px)[2];
      grid-template-columns: 100px 250px 100px 300px repeat(2, 100px);
  justify-items: center;
}

body footer .about .aboutUs li:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

body footer .about .aboutUs li a {
  color: var(--clr-white);
}

body footer .about .aboutUs li a .footer-brand {
  margin-top: -15px;
}

body footer .about #choixDeLangue {
  margin-left: 20%;
  width: 200px;
  background-color: var(--clr-red);
  border: none;
  border-radius: 1rem;
  padding: 0 0 0 10px;
  margin-bottom: 15px;
}

body footer .contact {
  margin-top: 50px;
  text-align: center;
}

body footer .contact a img {
  background-color: var(--clr-red);
  margin: 10px;
  padding: 5px;
  border-radius: 50%;
}

body footer .copyright {
  color: var(--clr-white);
  margin-top: 50px;
  padding-bottom: 30px;
  text-align: center;
}

@media (max-width: 768px) {
  body header {
    position: relative;
  }
  body header nav {
    padding-right: 0;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    position: absolute;
    background-color: transparent;
  }
  body header nav .brand a img:first-child {
    width: 20%;
  }
  body header nav .brand a img:nth-child(2) {
    width: 20px;
    margin-bottom: 0px;
  }
  body header nav .brand a img:last-child {
    width: 60%;
  }
  body header nav .nav-dropdown {
    position: relative;
    -ms-grid-column-align: end;
        justify-self: end;
  }
  body header nav .nav-dropdown .ellipse {
    font-weight: bolder;
    font-size: 2rem;
    letter-spacing: 5px;
    color: var(--clr-white);
  }
  body header nav .nav-dropdown .nav-menu {
    display: none;
    position: absolute;
    -ms-grid-columns: 290px;
        grid-template-columns: 290px;
    top: 50px;
    right: 0px;
    width: 200px;
    background-color: var(--clr-red);
    border-radius: .5rem;
    -webkit-box-shadow: 0 5px 15px var(--clr-black);
            box-shadow: 0 5px 15px var(--clr-black);
  }
  body header nav .nav-dropdown .nav-menu li {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  body header nav .nav-dropdown .nav-menu li:last-child {
    padding-bottom: 10px;
  }
  body header nav .nav-dropdown:hover .nav-menu {
    display: block;
  }
  body header .explore .redirectMe {
    margin-bottom: 50px;
  }
  body header .explore .spidermen {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  body header .explore .spidermen * {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}
/*# sourceMappingURL=main.css.map */