@import url(../main.css);
body{

    
    
    main{
        // position: relative;
        background-image: url(../../Illustration/img35.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 95vh;
        // width: 100%;

        
        padding-bottom: 20px;
        .cliffhanger{
            position: absolute;
            top: 80%;
            padding-left: 10%;


        }
    }
}
@media  (max-width: 768px){
    body header nav .nav-dropdown .nav-menu{
        background-color: rgba(#000,.5);
    }
    body header nav{
        background-color: var(--clr-red);
        grid-template-columns: 1fr 2fr;
        .nav-dropdown{
            .nav-menu{
                background-color: var(--clr-red);
            }
        }
    }


}