@import url(../main.css);
body{

    
    
    main{
        background-image: url(../../Illustration/img35.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 95vh;
        // width: 100%;

        
        padding-bottom: 20px;
        .cliffhanger{
            position: absolute;
            top: 80%;
            padding-left: 10%;

        }
    }
}