@import url(../main.css);
body {
  background-color: var(--clr-blue);
}

body header nav {
  background-color: var(--clr-blue);
}

body header .quotes {
  background-image: url(../../Illustration/img19.png);
  background-repeat: no-repeat;
  background-size: cover;
}

body header .quotes h1 {
  padding-top: 400px;
}

body header .quotes h3 {
  padding-bottom: 50px;
}

body main .valeurs {
  margin: 10% 0 10% 0;
  padding-right: 10%;
  display: flex;
  flex-direction: row;
  gap: 100px;
}

body main .valeurs .video {
  margin-top: 10%;
}

body main .hisPowers .title {
  background-image: url(../../Illustration/img20.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5% 0 500px 10%;
}
