@import url(../main.css);
body header {
  background-color: var(--clr-yellow);
}

body header .webPhone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body header .webPhone .toile {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body main .textYourSpidey {
  background-color: var(--clr-red);
}

body main .textYourSpidey .annonce {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 50px 0 50px 0;
}

body main .textYourSpidey .annonce .yourMessage img {
  width: 500px;
}

body main .textYourSpidey .annonce form {
  padding-bottom: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .textYourSpidey .annonce form input {
  width: 60%;
  margin-bottom: 10px;
  padding: 5px;
  padding-left: 20px;
  border-radius: 2rem;
  border: none;
  border: 1px solid var(--clr-white);
  background: none;
}

body main .textYourSpidey .annonce form input::-webkit-input-placeholder {
  color: var(--clr-white);
}

body main .textYourSpidey .annonce form input:-ms-input-placeholder {
  color: var(--clr-white);
}

body main .textYourSpidey .annonce form input::-ms-input-placeholder {
  color: var(--clr-white);
}

body main .textYourSpidey .annonce form input::placeholder {
  color: var(--clr-white);
}

body main .textYourSpidey .annonce form #message {
  height: 100px;
}

body main .textYourSpidey .annonce form button {
  margin: 5% 0 0 15%;
  color: var(--clr-white);
  border: 1px solid var(--clr-white);
  width: 150px;
  padding: 10px;
  border-radius: 1em;
  background: none;
}

body main .textYourSpidey .annonce form button:hover {
  color: var(--clr-blue);
  border: 1px solid var(--clr-blue);
  background-color: var(--clr-white);
}

body main .saynaXmarvel {
  background-color: var(--clr-blue);
}

body main .saynaXmarvel h1 {
  padding: 50px 0 50px 10%;
}

body main .saynaXmarvel .Xdetails {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  margin: 0 10% 100px 0;
}

body main .saynaXmarvel .Xdetails:nth-child(2) ul {
  margin-left: 10%;
}

body main .saynaXmarvel .retrouveNous {
  margin-right: 10%;
}

body main .saynaXmarvel .retrouveNous .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body main .saynaXmarvel .retrouveNous .links button {
  font-weight: 600;
  width: 200px;
  border-radius: 1rem;
  border: 2px solid var(--clr-white);
  margin: 50px 0 50px 0;
  color: var(--clr-white);
}

body main .saynaXmarvel .retrouveNous .links button:hover {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

@media (max-width: 768px) {
  body header nav .nav-dropdown .nav-menu {
    background-color: var(--clr-yellow);
  }
}
/*# sourceMappingURL=About.css.map */