@import url(../main.css);
body header {
  background-color: var(--clr-yellow);
}

body header .webPhone {
  display: flex;
  justify-content: space-between;
}

body header .webPhone .toile {
  align-self: center;
}

body main .textYourSpidey {
  background-color: var(--clr-red);
  padding-top: 5%;
}

body main .textYourSpidey .annonce {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 50px 0 50px 0;
}

body main .textYourSpidey .annonce .yourMessage img {
  width: 500px;
}

body main .textYourSpidey .annonce form {
  padding-bottom: 90px;
  display: grid;
  grid-template-columns: 1fr;
}

body main .textYourSpidey .annonce form input {
  width: 300px;
  margin-bottom: 10px;
  padding: 5px;
  padding-left: 20px;
  border-radius: 2rem;
  border: none;
  border: 1px solid var(--clr-white);
  background: none;
}

body main .textYourSpidey .annonce form input::placeholder {
  color: var(--clr-white);
}

body main .textYourSpidey .annonce form #message {
  height: 100px;
}

body main .textYourSpidey .annonce form button {
  margin: 5% 0 0 15%;
  color: var(--clr-white);
  border: 1px solid var(--clr-white);
  width: 150px;
  padding: 10px;
  border-radius: 1em;
  background: none;
}

body main .textYourSpidey .annonce form button:hover {
  color: var(--clr-blue);
  border: 1px solid var(--clr-blue);
  background-color: var(--clr-white);
}

body main .saynaXmarvel {
  background-color: var(--clr-blue);
}

body main .saynaXmarvel h1 {
  padding: 50px 0 50px 10%;
}

body main .saynaXmarvel .Xdetails {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  margin: 0 10% 100px 0;
}

body main .saynaXmarvel .Xdetails:nth-child(2) ul {
  margin-left: 10%;
}

body main .saynaXmarvel .retrouveNous {
  margin-right: 10%;
}

body main .saynaXmarvel .retrouveNous .links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

body main .saynaXmarvel .retrouveNous .links button {
  font-weight: 600;
  width: 200px;
  border-radius: 1rem;
  border: 2px solid var(--clr-white);
  margin: 50px 0 50px 0;
  color: var(--clr-white);
}

body main .saynaXmarvel .retrouveNous .links button:hover {
  transform: translateX(20px);
}

@media (max-width: 768px) {
  body header nav .nav-dropdown .nav-menu {
    background-color: var(--clr-yellow);
  }
  body main .textYourSpidey h1, body main .textYourSpidey p, body main .textYourSpidey .annonce .yourMessage {
    text-align: center;
  }
  body main .textYourSpidey .annonce {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  body main .textYourSpidey .annonce .yourMessage img {
    width: 300px;
  }
  body main .textYourSpidey .annonce form {
    justify-self: center;
  }
  body main .textYourSpidey .annonce form input {
    width: 500px;
  }
  body main .textYourSpidey .annonce form button {
    margin: 5% auto;
  }
  body main .saynaXmarvel * {
    text-align: center;
  }
  body main .saynaXmarvel .Xdetails {
    grid-template-columns: 1fr;
    grid-template-areas: "a"  "b" "c"   "d";
  }
  body main .saynaXmarvel .Xdetails .part1 {
    grid-area: a;
  }
  body main .saynaXmarvel .Xdetails .part2 {
    grid-area: c;
  }
  body main .saynaXmarvel .Xdetails .part2 ul {
    margin-left: 40%;
  }
  body main .saynaXmarvel .Xdetails .part2 ul li {
    text-align: justify;
  }
  body main .saynaXmarvel .Xdetails .part3 {
    grid-area: b;
  }
  body main .saynaXmarvel .Xdetails .part4 {
    grid-area: d;
  }
  body main .saynaXmarvel .retrouveNous h3 {
    display: none;
  }
  body main .saynaXmarvel .retrouveNous .links button {
    font-weight: 100;
    height: 70px;
    margin: 10px 0 30px 0;
  }
  body main .saynaXmarvel .retrouveNous .links button:hover {
    transform: translateY(-20px);
  }
}
