@import url(../main.css);

body{
    header{
        background-color: var(--clr-yellow);
        
        .webPhone{
            display: flex;
            justify-content: space-between;
            .toile{
                align-self: center;
            }

        }

    }
    main{
        .textYourSpidey{
            background-color: var(--clr-red);
            padding-top: 5%;
            .annonce{
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 20px;
                padding: 50px 0 50px 0;
                .yourMessage{
                    img{
                        
                        width: 500px;
                    }
                }
                form{
                    padding-bottom: 90px;
                    display: grid;
                    grid-template-columns: 1fr;
                    
                    
                    input{
                        width: 300px;
                        margin-bottom: 10px;
                        padding: 5px;
                        padding-left: 20px;
                        border-radius: 2rem;
                        border: none;
                        border: 1px solid var(--clr-white);
                        background: none;
                        &::placeholder{
                            color: var(--clr-white);
                        }
                        
                    }
                    #message{
                        height: 100px;
                    }
                    button{
                        margin:5% 0 0 15% ;
                        
                        color: var(--clr-white);
                        border: 1px solid var(--clr-white);
                        width: 150px;
                        padding: 10px;
                        border-radius: 1em;
                        background: none;
                        &:hover{
                            color: var(--clr-blue);
                            border: 1px solid var(--clr-blue);
                            background-color: var(--clr-white);
                        }
                    }
                }
            }
            
        }
        .saynaXmarvel{
            background-color: var(--clr-blue);
            h1{
                padding: 50px 0 50px 10%;
            }
            .Xdetails{
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 1.5rem;
                margin:0 10% 100px 0;
                &:nth-child(2){
                    ul{
                        margin-left: 10%;
                    }
                }

            }
            .retrouveNous{
                margin-right: 10%;
                .links{
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    justify-content: space-evenly;
                    button{
                        font-weight: 600;
                        width: 200px;
                        border-radius: 1rem;
                        border: 2px solid var(--clr-white);
                        margin:50px 0 50px 0;

                        color: var(--clr-white);
                        &:hover{
                            
                            transform: translateX(20px);
                        }

    
                    }
                }
                
            }



        }
    }
}
@media  (max-width: 768px){
    body header nav .nav-dropdown .nav-menu{
        background-color: var(--clr-yellow);
    }

    body{
        main{
            .textYourSpidey{
                h1, p, .annonce .yourMessage{
                    text-align: center;
                }
                .annonce{

                    grid-template-columns: 1fr;
                    gap: 2rem;
                    .yourMessage{
                        img{
                            
                            width: 300px;
                        }
                    }
                    form{
                        justify-self: center;
                        input{
                            width: 500px;
                        }
                        button{
                            margin: 5% auto;
                        }
                    }
                }
            }
            .saynaXmarvel{
                *{
                    text-align: center;
                }
                .Xdetails{
                    // On re-ordonne l'ordre d'affichage
                    grid-template-columns: 1fr;
                    grid-template-areas: 
                    "a" 
                    "b"
                    "c"  
                    "d";
                     .part1{
                         grid-area: a;
                     }
                     .part2{
                         grid-area: c;
                         ul{
                             margin-left: 40%;
                             li{
                                 text-align: justify;
                                 

                                 
                             }
                         }

                     }
                     .part3{
                         grid-area: b;
                     }
                     .part4{
                         grid-area: d;
                     }
                }
                .retrouveNous{
                    h3{
                        display: none;
                    }
                    .links{
                        button{
                            font-weight: 100;
                            height: 70px;
                            margin: 10px 0 30px 0;
                            &:hover{
                            
                                transform: translateY(-20px);
                            }
                        }
                    }
                }
                
            }
        }
    }

}